/* GENERAL */
body{
  color: white;
  
  /* DEBUG */
  font-weight: bold;
}

ul{
  margin-bottom: 0;
}

li{
  display: inline-block;
  list-style: none;
}

.my-small-container{
  width: 60%;
  margin: 0 auto;
}

.debug{
  border: 1px solid black;
  background-color: rgba(21, 155, 128, .5);
}

/* HEADER */
header{
  display: flex;
  align-items: center;
  background-color: #2C3E50;
  height: 90px;
}

/* MAIN */
#jumbotron{
  background-color: #1ABC9C;
  padding: 50px 0;
}

#jumbotron img.debug{

  /* DEBUG */
  display: inline-block;
  width: 230px;
  height: 270px;
}

#portfolio{
  padding: 50px 0;
}

#portfolio .col.debug{

  /* DEBUG */
  height: 264px;
}

#about{
  background-color: #1ABC9C;
  padding: 50px 0;
}

#contact-me{
  padding: 50px 0;
}

#contact-me form input:not(:last-of-type), textarea{

  /* DEBUG */
  width: 100%;
}

/* FOOTER */
#footer-top{
  background-color: #3A546D;

  /* DEBUG */
  height: 231px;
}

#footer-down{
  background-color: #2C3E50;
  height: 110px;
}