/* UTILITIES */
.debug{
  border: 1px solid red;
}

/* HEADER */
header{
  background-color: #2C3E50;
  height: 90px;
  font-weight: bold;
}

header nav .my_ham_menu{
  filter: invert(1);
}

/* MAIN */
#jumbotron{
  background-color: #1ABC9C;
  padding: 70px 0;
}

#jumbotron .my_avatar{
  width: 240px;
}

#jumbotron .my_h1{
  font-weight: bold;
  font-size: 3rem;
}

#jumbotron .my_hr{
  height: 4px;
  background-color: white;
  width: 12%;
  border-radius: 4px;
  vertical-align: middle;
}

#jumbotron .my_hr+i{
  font-size: 1.5rem;
  vertical-align: middle;
}

#portfolio{
  padding: 90px 0;
}

#portfolio .col.debug{

  /* DEBUG */
  height: 264px;
}

#about{
  background-color: #1ABC9C;
  padding: 90px 0px 60px;
}

#contact-me{
  padding: 90px 0px 60px;
}

#contact-me form input:not(:last-of-type), textarea{

  /* DEBUG */
  width: 100%;
}

/* FOOTER */
#footer-top{
  padding: 50px 0;
  background-color: #3A546D;
}

#footer-down{
  background-color: #2C3E50;
  height: 110px;
}

#footer-down div{
  line-height: 110px;
}